label {
    color: white;
}

.BoxForm {
    border: 1px solid whitesmoke;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}

p {
    color: white;
}

.btn {
    border-radius: 20px;
}

.borderinput {
    border-radius: 20px;

    margin-top: 10px;
}